<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mediaStyleContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE2AEDE41C0C99DD0038B31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2AEDF81C0C99DD0038B31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2AEE031C0C99DD0038B31A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
